@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin flex-row($wrap: wrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: row $wrap;
}

@mixin flex-column($wrap: nowrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: column $wrap;
}

@mixin grid() {
        @each $breakpoint, $width in $breakpoints {
		@media (min-width: #{$width}) {
			@for $i from 1 through $columns {
                                $size: $i / $columns * 100%;
        
				.#{$breakpoint}-#{$i} {
					max-width: $size;
					flex: 0 0 $size;
				}
			}
		}
  }
}
