@mixin flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin flex-row($wrap: wrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: row $wrap;
}

@mixin flex-column($wrap: nowrap, $align: stretch, $justify: space-between) {
	@include flex($align, $justify);
	flex-flow: column $wrap;
}

@mixin grid($type) {
	@if (map-has-key($breakpoints, $type)) {
		@media (min-width: #{map-get($breakpoints, $type)}) {
			@for $i from 1 through $columns {
				.#{$type}-#{$i} {
					max-width: calc(100% / #{$i});
					flex: 0 0 calc(100% / #{$i});
				}
			}
		}
	} @else {
		@for $i from 1 through $columns {
			.#{$type}-#{$i} {
				max-width: calc(100% / #{$i});
				flex: 0 0 calc(100% / #{$i});
			}
		}
	}
}
