.alignleft {
	float: left;
	margin: $gap $gap * 2 $gap * 2 0;
}

.alignright {
	float: right;
	margin: $gap 0 $gap * 2 $gap * 2;
}

.alignnone,
.aligncenter {
	float: none;
}

.alignnone {
	margin: $gap 0 $gap * 2;
}

.aligncenter {
	display: block;
	margin: $gap auto $gap * 2;
}
