$font-sans-serif: sans-serif !default;
$font-serif: serif !default;
$font-monospace: monospace !default;

$font-size-base: 1rem !default;
$line-height-base: 1.35 !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.75rem !default;
$font-size-h3: 1.5rem !default;
$font-size-h4: 1.25rem !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: 0.75rem !default;
