$gap: 0.5rem !default;

$columns: 12 !default;

$shell-width: 75rem !default;
$shell-gap: 1rem !default;

$small-desktop: 1439px !default;
$tablet-landscape: 1279px !default;
$tablet-portrait: 1023px !default;
$mobile: 767px !default;

$breakpoints: (
	xs: (
		min: 0,
		max: $mobile
	),
	sm: (
		min: $mobile + 1,
		max: $tablet-portrait
	),
	md: (
		min: $tablet-portrait + 1,
		max: $tablet-landscape
	),
	lg: (
		min: $tablet-landscape + 1,
		max: $small-desktop
	),
	xl: (
		min: $small-desktop + 1
	)
) !default;

$displays: 'block', 'inline', 'inline-block', 'flex', 'inline-flex' !default;

$alignments: 'center', 'right', 'left', 'justify';
