.o-shell {
	max-width: $shell-width;
	padding-right: $shell-gap;
	padding-left: $shell-gap;
	margin-right: auto;
	margin-left: auto;

	&--flex {
		@include flex-row(wrap, stretch, space-between);
	}

	&--fluid {
		max-width: none;
	}
}
