// Document

html {
	-webkit-tap-highlight-color: rgba($color-black, 0);
	tap-highlight-color: rgba($color-black, 0);
}

body {
	font-family: $font-sans-serif;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-black;
	min-width: 20rem;
	margin: 0;
	background-color: $color-white;
}
